<h1>Productos creados hasta hoy:</h1>
<p>
    <mat-card class="cardPoint">
        <h1>{{count | currency: ' ' : 'symbol' : '1.0-0'}}</h1>
    </mat-card>
</p>

<h1>Productos por:</h1>
<div class="cards">
    <div class="cards__item">
        <mat-card>
            <div style="width: 350px;">
                <canvas id="categories"></canvas>
            </div>
            <ul>
                <li *ngFor="let category of categories">
                    {{category.argument}}: {{category.count}}
                </li>
            </ul>
        </mat-card>
    </div>
    <div class="cards__item">
        <mat-card>
            <div style="width: 350px;">
                <canvas id="status"></canvas>
            </div>
            <ul>
                <li *ngFor="let state of status">
                    {{state.argument}}: {{state.count}}
                </li>
            </ul>
        </mat-card>
    </div>
</div>